<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autonavi.amapauto.gdarcameraservicedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.autonavi.amapauto.gdarcameraservicedemo.GDArCameraService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.autonavi.amapauto.gdarcameraservice"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
